<div class="whole">
<h1> Stupid Coaching </h1>
<div class="my_question">
<p><%= params[:question] %></p>
<p>- You</p>
</div>

<div class="coach_answer">
<p><%= @answer %></p>
<p>- Your coach</p>
</div>
</div>
